# LumiROM Build Artifacts
FIRMWARE/
WORK/
OUT/
OTA/
ROM/
TMP/
IMGs/
LOGS/
CACHE/
makerom/
.local/
bin/py_scripts/__pycache__/*
.env

# Logs
*.log
apt.log
pip.log
apt_fast_setup.log

# Firmware and Flashable ZIPs
OUT/*.img
OUT/*.img.raw
OUT/*.zip

# Ignore generated/transient files in the template directory
template/build_info.txt
template/

# OS Specific
.DS_Store
.thumbs.db
