# LumiROM Build Artifacts
FIRMWARE/
WORK/
OUT/
OTA/
ROM/
TMP/
IMGs/
LOGS/
CACHE/
makerom/
SAVEDIMGS/
.local/
bin/py_scripts/__pycache__/*
LumiROM/Mods/Galaxy_AI/system/system/priv-app/SamsungSmartSuggestions/*
test.sh
.env

# Logs
*.log
apt.log
pip.log
apt_fast_setup.log

# OS Specific
.DS_Store
.thumbs.db
