# LumiROM Build Artifacts
FIRMWARE/
WORK/
OUT/
OTA/
ROM/
TMP/
IMGs/
LOGS/
CACHE/
.local/
bin/py_scripts/__pycache__/*

# Logs
*.log
apt.log
pip.log
apt_fast_setup.log
logs/

# Firmware and Flashable ZIPs
OUT/*.img
OUT/*.img.raw
OUT/*.zip

# Ignore generated/transient files in the template directory
template/build_info.txt
template/boot.img
template/dynamic_partitions_op_list
template/

# OS Specific
.DS_Store
.thumbs.db
